rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read/write access to all documents
    // Note: for production, secure your database with granular rules!
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
